# Project Kaggle Competition

### Importación de librerías:

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.3f}'.format

import warnings
warnings.filterwarnings('ignore')


import pylab as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts

from sklearn.preprocessing import StandardScaler


from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score as r2


from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso        
from sklearn.linear_model import Ridge        
from sklearn.linear_model import ElasticNet


from sklearn.svm import SVR


from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR
from sklearn.ensemble import GradientBoostingRegressor as GBR
from xgboost import XGBRegressor as XGBR
from catboost import CatBoostRegressor as CTR
from lightgbm import LGBMRegressor as LGBMR

### Importación de los archivos y exploración de los datos:

In [2]:
salaries=pd.read_csv('../Kaggle_Competition/data/salaries_data.csv')

In [3]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [4]:
salaries.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           500 non-null    int64
 1   experience_level    500 non-null    object
 2   employment_type     500 non-null    object
 3   job_title           500 non-null    object
 4   salary              500 non-null    int64
 5   salary_currency     500 non-null    object
 6   salary_in_usd       500 non-null    int64
 7   employee_residence  500 non-null    object
 8   remote_ratio        500 non-null    int64
 9   company_location    500 non-null    object
 10  company_size        500 non-null    object
dtypes: int64(4), object(7)
memory usage: 224.3 KB

In [5]:
testeo=pd.read_csv('../Kaggle_Competition/data/testeo.csv')

In [6]:
testeo.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L

In [7]:
testeo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           107 non-null    int64
 1   experience_level    107 non-null    object
 2   employment_type     107 non-null    object
 3   job_title           107 non-null    object
 4   salary              107 non-null    int64
 5   salary_currency     107 non-null    object
 6   employee_residence  107 non-null    object
 7   remote_ratio        107 non-null    int64
 8   company_location    107 non-null    object
 9   company_size        107 non-null    object
dtypes: int64(3), object(7)
memory usage: 47.4 KB

In [8]:
salaries.groupby('company_location').salary_in_usd.mean()

company_location
AE   100000.000
AS    18053.000
AT    76738.667
AU    87064.000
BE    85699.000
BR    21453.500
CA   101037.360
CH    64114.000
CL    40038.000
CN   100000.000
CZ    69999.000
DE    85303.304
DK    88654.000
DZ   100000.000
EE    32974.000
ES    51970.000
FR    64764.750
GB    78379.732
GR    52576.300
HN    20000.000
HU    35735.000
IE    71444.000
IN    31242.368
IR     4000.000
JP    87691.000
KE     9272.000
LU    43942.667
MD    18000.000
MT    28369.000
MX     2859.000
NG    30000.000
NL    54945.750
NZ   125000.000
PK    13333.333
PL    76246.667
PT    47793.750
RO    60000.000
SG    89294.000
SI    63831.000
TR    20096.667
UA    13400.000
US   144892.682
VN     4000.000
Name: salary_in_usd, dtype: float64

In [9]:
salaries.groupby('experience_level').salary_in_usd.mean()

experience_level
EN    59989.569
EX   196078.850
MI    90384.610
SE   136341.794
Name: salary_in_usd, dtype: float64

In [10]:
salaries.groupby('employment_type').salary_in_usd.mean()

employment_type
CT   222750.000
FL    48000.000
FT   113914.630
PT    35053.375
Name: salary_in_usd, dtype: float64

In [11]:
salaries.groupby('company_size').salary_in_usd.mean()

company_size
L   121031.376
M   115805.495
S    79242.435
Name: salary_in_usd, dtype: float64

In [12]:
salaries.groupby('company_location').salary_in_usd.mean()

company_location
AE   100000.000
AS    18053.000
AT    76738.667
AU    87064.000
BE    85699.000
BR    21453.500
CA   101037.360
CH    64114.000
CL    40038.000
CN   100000.000
CZ    69999.000
DE    85303.304
DK    88654.000
DZ   100000.000
EE    32974.000
ES    51970.000
FR    64764.750
GB    78379.732
GR    52576.300
HN    20000.000
HU    35735.000
IE    71444.000
IN    31242.368
IR     4000.000
JP    87691.000
KE     9272.000
LU    43942.667
MD    18000.000
MT    28369.000
MX     2859.000
NG    30000.000
NL    54945.750
NZ   125000.000
PK    13333.333
PL    76246.667
PT    47793.750
RO    60000.000
SG    89294.000
SI    63831.000
TR    20096.667
UA    13400.000
US   144892.682
VN     4000.000
Name: salary_in_usd, dtype: float64

## Limpieza:

#### Eliminación de OUTLIERS:

In [13]:
stats=salaries.describe().T

stats['IQR']=stats['75%']-stats['25%']

outliers=pd.DataFrame(columns=stats.index)

for c in stats.index:
    
    iqr=stats.at[c, 'IQR']
    
    cutoff=1.5 * iqr   
    lower=stats.at[c, '25%'] - cutoff
    upper=stats.at[c, '75%'] + cutoff
    
    res=salaries[(salaries[c] < lower) | (salaries[c] > upper)].copy()
    res['outliers']=c
    
    outliers=outliers.append(res, sort=True)

outliers['outliers'].value_counts()

clean_index=[i for i in salaries.index if i not in outliers.index]

salaries=salaries.iloc[clean_index]

#### Eliminación de las columnas que no se consideran relevantes:

In [14]:
salaries=salaries.drop(['employee_residence'], axis = 1)

In [15]:
testeo=testeo.drop(['employee_residence'], axis = 1)

Se establece la y, que será la columna a predecir:

In [16]:
y=salaries.salary_in_usd

Se eliminan las columnas salary y salary_currency, que influyen de manera directa en la y:

In [17]:
salaries=salaries.drop(['salary','salary_currency'], axis = 1)

In [18]:
testeo=testeo.drop(['salary','salary_currency'], axis = 1)

In [19]:
#Verificamos los tipos de datos:

salaries.experience_level.unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [20]:
salaries.employment_type.unique()

array(['FT', 'CT', 'FL', 'PT'], dtype=object)

In [21]:
salaries.job_title.unique()

array(['Data Engineer', 'BI Data Analyst', 'ML Engineer',
       'Machine Learning Scientist', 'Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Engineering Manager', 'Data Analytics Manager',
       'Big Data Engineer', 'Research Scientist',
       'Machine Learning Developer', 'Computer Vision Engineer',
       'Machine Learning Manager', 'Lead Data Scientist',
       'Director of Data Science', 'Data Specialist',
       'Applied Data Scientist', 'AI Scientist', 'Data Science Engineer',
       'Head of Data', 'Analytics Engineer', 'ETL Developer',
       'Marketing Data Analyst', 'Data Architect',
       'Data Science Consultant', 'Principal Data Analyst',
       'Head of Data Science', 'Lead Data Engineer',
       'Data Science Manager', 'Applied Machine Learning Scientist',
       'Lead Data Analyst', 'Cloud Data Engineer',
       'Lead Machine Learning Engineer',
       'Machine Learning Infrastructure Engineer', 'Big Data Architect',
       'Product Data Analyst', 'Business Data Analyst',
       'Director of Data Engineering', 'Finance Data Analyst',
       'Staff Data Scientist', 'Data Analytics Engineer',
       'Computer Vision Software Engineer'], dtype=object)

In [22]:
salaries.remote_ratio.unique()

array([100,   0,  50])

In [23]:
salaries.company_location.unique()

array(['US', 'FR', 'GR', 'LU', 'SI', 'DE', 'GB', 'PK', 'MD', 'CA', 'IE',
       'AE', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH', 'CN', 'DK', 'TR', 'NZ',
       'PL', 'UA', 'AU', 'NG', 'EE', 'CZ', 'AT', 'BR', 'DZ', 'IR', 'NL',
       'PT', 'HN', 'MT', 'JP', 'RO', 'SG'], dtype=object)

In [24]:
salaries.company_size.unique()

array(['M', 'L', 'S'], dtype=object)

Se determinan las dimesiones de ambos DF antes de concatenarlos y se elimina la columana a predecir de salaries:

In [25]:
salaries.shape

(463, 8)

In [26]:
testeo.shape

(107, 7)

In [27]:
salaries=salaries.drop('salary_in_usd', axis = 1)

In [28]:
salaries.shape

(463, 7)

In [29]:
total=pd.concat([salaries, testeo], axis=0)

In [30]:
total.shape

(570, 7)

#### Se nromalizan las columnas de work_year y remote_ratio ya que el orden de magnitud difiere mucho del resto de columnas:

In [31]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

total[['work_year', 'remote_ratio']]=scaler.fit_transform(total[['work_year', 'remote_ratio']])

#### Se hace get dummies de todas las columnas categóricas para pasarlas a numérricas:

In [32]:
total=pd.get_dummies(total, columns=['experience_level','employment_type',
                                     'job_title','company_location','company_size'], drop_first=False)

### Se separan de nuevo salaries y testeo al haberse ya realizando todas las transformaciones:

In [33]:
X=total.iloc[:463]

In [34]:
X.shape

(463, 107)

In [35]:
X

,work_year,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
2,-0.637,0.700,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
3,-0.637,0.700,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,-0.637,-1.757,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
495,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
497,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
498,-0.637,0.700,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
499,-0.637,0.700,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0

In [36]:
testeo=total.iloc[463:]

In [37]:
testeo.shape

(107, 107)

In [38]:
testeo

,work_year,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,-2.095,-1.757,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,-2.095,0.700,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
2,-2.095,0.700,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
3,-2.095,-1.757,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,-2.095,0.700,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
103,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
104,0.821,0.700,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
105,0.821,-1.757,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
106,0.821,-1.757,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0

### Se realiza un train_test_split para dividir los datos:

In [39]:
from sklearn.model_selection import train_test_split as tts


X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((370, 107), (93, 107), (370,), (93,))

# Modelos de regresión lineal:

Iniciamos:

In [40]:
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()

Entrenamos con el tts:

In [41]:
linreg.fit(X_train, y_train)

lasso.fit(X_train, y_train)

ridge.fit(X_train, y_train)

elastic.fit(X_train, y_train)

ElasticNet()

Se obtiene la predición y se calculan errores:

In [42]:
y_pred_linear=linreg.predict(testeo)
y_pred_lasso=lasso.predict(testeo)
y_pred_ridge=ridge.predict(testeo)
y_pred_elastic=elastic.predict(testeo)

In [43]:
y_pred_linear1=linreg.predict(X_test)
y_pred_lasso1=lasso.predict(X_test)
y_pred_ridge1=ridge.predict(X_test)
y_pred_elastic1=elastic.predict(X_test)

In [44]:
mse(y_test, y_pred_linear1,squared=False), r2(y_test, y_pred_linear1)

(2.2681351219329104e+16, -1.4262227031383e+23)

In [45]:
mse(y_test, y_pred_lasso1,squared=False), r2(y_test, y_pred_lasso1)

(34102.786797014356, 0.6775746069195127)

In [46]:
mse(y_test, y_pred_ridge1,squared=False), r2(y_test, y_pred_ridge1)

(33781.605232452624, 0.6836192413457112)

In [47]:
mse(y_test, y_pred_elastic1,squared=False), r2(y_test, y_pred_elastic1)

(51261.071945034746, 0.27150786817883166)

In [ ]:
y_pred_ridge=pd.DataFrame(y_pred_ridge, columns=['salary_in_usd'])

y_pred_ridge.to_csv('prueba9.csv',index_label='id')

In [48]:
linreg.fit(X, y)

lasso.fit(X, y)

ridge.fit(X, y)

elastic.fit(X, y)

ElasticNet()

In [49]:
y_pred_linear2=linreg.predict(X)
y_pred_lasso2=lasso.predict(X)
y_pred_ridge2=ridge.predict(X)
y_pred_elastic2=elastic.predict(X)

In [50]:
y_pred_lasso3=lasso.predict(testeo)
y_pred_ridge3=ridge.predict(testeo)

In [51]:
mse(y, y_pred_linear2,squared=False), r2(y, y_pred_linear2)

(31717.751608751696, 0.684009048858476)

In [52]:
mse(y, y_pred_lasso2,squared=False), r2(y, y_pred_lasso2)

(31715.132882882997, 0.6840612252881224)

In [53]:
mse(y, y_pred_ridge2,squared=False), r2(y, y_pred_ridge2)

(32448.6024321195, 0.669278939791838)

In [54]:
mse(y, y_pred_elastic2,squared=False), r2(y, y_pred_elastic2)

(46462.59548177423, 0.321926468746522)

In [ ]:
y_pred_ridge3=pd.DataFrame(y_pred_ridge3, columns=['salary_in_usd'])

y_pred_ridge3.to_csv('prueba11.csv',index_label='id')

### Modelos no lieneales:

In [55]:
svr=SVR()
rfr=RFR()
etr=ETR()
gbr=GBR()
xgbr=XGBR()
ctr=CTR()
lgbmr=LGBMR()

In [56]:
svr.fit(X_train, y_train)
rfr.fit(X_train, y_train)
etr.fit(X_train, y_train)
gbr.fit(X_train, y_train)
xgbr.fit(X_train, y_train)
ctr.fit(X_train, y_train, verbose=0)
lgbmr.fit(X_train, y_train)

LGBMRegressor()

In [57]:
y_pred_svr=svr.predict(testeo)
y_pred_rfr=rfr.predict(testeo)
y_pred_etr=etr.predict(testeo)
y_pred_gbr=gbr.predict(testeo)
y_pred_xgbr=xgbr.predict(testeo)
y_pred_ctr=ctr.predict(testeo)
y_pred_lgbmr=lgbmr.predict(testeo)

In [58]:
y_pred_svr1=svr.predict(X_test)
y_pred_rfr1=rfr.predict(X_test)
y_pred_etr1=etr.predict(X_test)
y_pred_gbr1=gbr.predict(X_test)
y_pred_xgbr1=xgbr.predict(X_test)
y_pred_ctr1=ctr.predict(X_test)
y_pred_lgbmr1=lgbmr.predict(X_test)

In [59]:
mse(y_test, y_pred_svr1,squared=False), r2(y_test, y_pred_svr1)

(60976.165877777006, -0.03078887774390604)

In [60]:
mse(y_test, y_pred_rfr1,squared=False), r2(y_test, y_pred_rfr1)

(39087.882785002956, 0.576421612544219)

In [61]:
mse(y_test, y_pred_etr1,squared=False), r2(y_test, y_pred_etr1)

(45581.482041956595, 0.42399482978580594)

In [62]:
mse(y_test, y_pred_gbr1,squared=False), r2(y_test, y_pred_gbr1)

(38019.18574998461, 0.599266987739583)

In [63]:
mse(y_test, y_pred_xgbr1,squared=False), r2(y_test, y_pred_xgbr1)

(36918.57813068539, 0.6221325951626816)

In [64]:
mse(y_test, y_pred_ctr1,squared=False), r2(y_test, y_pred_ctr1)

(36321.64775344841, 0.6342531598426574)

In [65]:
mse(y_test, y_pred_lgbmr1,squared=False), r2(y_test, y_pred_lgbmr1)

(39058.519480053306, 0.5770577682432205)

In [66]:
mse(y_test, y_pred_gbr1, squared=False), r2(y_test, y_pred_gbr1)

(38019.18574998461, 0.599266987739583)

In [67]:
svr.fit(X, y)
rfr.fit(X, y)
etr.fit(X, y)
gbr.fit(X, y)
xgbr.fit(X, y)
ctr.fit(X, y, verbose=0)
lgbmr.fit(X, y)

LGBMRegressor()

In [68]:
y_pred_svra=svr.predict(testeo)
y_pred_rfra=rfr.predict(testeo)
y_pred_etra=etr.predict(testeo)
y_pred_gbra=gbr.predict(testeo)
y_pred_xgbra=xgbr.predict(testeo)
y_pred_ctra=ctr.predict(testeo)
y_pred_lgbmra=lgbmr.predict(testeo)

In [69]:
y_pred_svr1b=svr.predict(X)
y_pred_rfr1b=rfr.predict(X)
y_pred_etr1b=etr.predict(X)
y_pred_gbr1b=gbr.predict(X)
y_pred_xgbr1b=xgbr.predict(X)
y_pred_ctr1b=ctr.predict(X)
y_pred_lgbmr1b=lgbmr.predict(X)

In [71]:
mse(y, y_pred_svr1b,squared=False), r2(y, y_pred_svr1b)

(56877.31515953583, -0.016127100289814233)

In [72]:
mse(y, y_pred_rfr1b,squared=False), r2(y, y_pred_rfr1b)

(25317.161215490087, 0.7986739962611983)

In [73]:
mse(y, y_pred_etr1b,squared=False), r2(y, y_pred_etr1b)

(23258.544119661983, 0.8300837512876252)

In [74]:
mse(y, y_pred_gbr1b,squared=False), r2(y, y_pred_gbr1b)

(30624.596816548255, 0.7054150073913639)

In [75]:
mse(y, y_pred_xgbr1b,squared=False), r2(y, y_pred_xgbr1b)

(24293.408105080816, 0.8146268838123937)

In [76]:
mse(y, y_pred_ctr1b,squared=False), r2(y, y_pred_ctr1b)

(25890.82934741768, 0.7894468306013781)

In [77]:
mse(y, y_pred_lgbmr1b,squared=False), r2(y, y_pred_lgbmr1b)

(33957.42031674374, 0.6378076782712537)