# Project Kaggle Competition

### Importación de librerías:

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.3f}'.format

import warnings
warnings.filterwarnings('ignore')


import pylab as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts

from sklearn.preprocessing import StandardScaler


from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score as r2


from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso        
from sklearn.linear_model import Ridge        
from sklearn.linear_model import ElasticNet


from sklearn.svm import SVR


from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR
from sklearn.ensemble import GradientBoostingRegressor as GBR
from xgboost import XGBRegressor as XGBR
from catboost import CatBoostRegressor as CTR
from lightgbm import LGBMRegressor as LGBMR

In [2]:
salaries=pd.read_csv('../data/salaries_data.csv')

In [3]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [4]:
salaries.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           500 non-null    int64
 1   experience_level    500 non-null    object
 2   employment_type     500 non-null    object
 3   job_title           500 non-null    object
 4   salary              500 non-null    int64
 5   salary_currency     500 non-null    object
 6   salary_in_usd       500 non-null    int64
 7   employee_residence  500 non-null    object
 8   remote_ratio        500 non-null    int64
 9   company_location    500 non-null    object
 10  company_size        500 non-null    object
dtypes: int64(4), object(7)
memory usage: 224.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           500 non-null    int64
 1   experience_level    500 non-null    object
 2   employment_type     500 non-null    object
 3   job_title           500 non-null    object
 4   salary              500 non-null    int64
 5   salary_currency     500 non-null    object
 6   salary_in_usd       500 non-null    int64
 7   employee_residence  500 non-null    object
 8   remote_ratio        500 non-null    int64
 9   company_location    500 non-null    object
 10  company_size        500 non-null    object
dtypes: int64(4), object(7)
memory usage: 224.3 KB

In [5]:
testeo=pd.read_csv('../data/testeo.csv')

In [6]:
testeo.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L

In [7]:
testeo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           107 non-null    int64
 1   experience_level    107 non-null    object
 2   employment_type     107 non-null    object
 3   job_title           107 non-null    object
 4   salary              107 non-null    int64
 5   salary_currency     107 non-null    object
 6   employee_residence  107 non-null    object
 7   remote_ratio        107 non-null    int64
 8   company_location    107 non-null    object
 9   company_size        107 non-null    object
dtypes: int64(3), object(7)
memory usage: 47.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           107 non-null    int64
 1   experience_level    107 non-null    object
 2   employment_type     107 non-null    object
 3   job_title           107 non-null    object
 4   salary              107 non-null    int64
 5   salary_currency     107 non-null    object
 6   employee_residence  107 non-null    object
 7   remote_ratio        107 non-null    int64
 8   company_location    107 non-null    object
 9   company_size        107 non-null    object
dtypes: int64(3), object(7)
memory usage: 47.4 KB

In [8]:
y=salaries.salary_in_usd

In [9]:
salaries=salaries.drop('salary_in_usd', axis = 1)

Se eliminan las columnas de salary y salary_currency  de salaries y de testeo ya que carece de sentido tener ambas columnas cuando la y es la columna de salary_in_usd.

In [10]:
salaries=salaries.drop(['salary','salary_currency'], axis = 1)

In [11]:
testeo=testeo.drop(['salary','salary_currency'], axis = 1)

In [12]:
#Verificamos los tipos de datos:

salaries.experience_level.unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [13]:
salaries.employment_type.unique()

array(['FT', 'CT', 'FL', 'PT'], dtype=object)

array(['FT', 'CT', 'FL', 'PT'], dtype=object)

In [14]:
salaries.job_title.unique()

array(['Data Engineer', 'BI Data Analyst', 'ML Engineer',
       'Machine Learning Scientist', 'Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Engineering Manager', 'Data Analytics Manager',
       'Big Data Engineer', 'Research Scientist',
       'Machine Learning Developer', 'Computer Vision Engineer',
       'AI Scientist', 'Machine Learning Manager', 'Lead Data Scientist',
       'Director of Data Science', '3D Computer Vision Researcher',
       'Data Specialist', 'Applied Data Scientist',
       'Data Science Engineer', 'Head of Data', 'Analytics Engineer',
       'ETL Developer', 'Marketing Data Analyst', 'Data Architect',
       'Data Science Consultant', 'Principal Data Analyst',
       'Head of Data Science', 'Lead Data Engineer',
       'Data Science Manager', 'Applied Machine Learning Scientist',
       'Lead Data Analyst', 'Cloud Data Engineer',
       'Lead Machine Learning Engineer',
       'Machine Learning Infrastructure Engineer', 'Big Data Architect',
       'Product Data Analyst', 'Business Data Analyst',
       'Director of Data Engineering', 'Data Analytics Lead',
       'Financial Data Analyst', 'Finance Data Analyst',
       'Head of Machine Learning', 'Staff Data Scientist',
       'Data Analytics Engineer', 'Computer Vision Software Engineer'],
      dtype=object)

array(['Data Engineer', 'BI Data Analyst', 'ML Engineer',
       'Machine Learning Scientist', 'Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Engineering Manager', 'Data Analytics Manager',
       'Big Data Engineer', 'Research Scientist',
       'Machine Learning Developer', 'Computer Vision Engineer',
       'AI Scientist', 'Machine Learning Manager', 'Lead Data Scientist',
       'Director of Data Science', '3D Computer Vision Researcher',
       'Data Specialist', 'Applied Data Scientist',
       'Data Science Engineer', 'Head of Data', 'Analytics Engineer',
       'ETL Developer', 'Marketing Data Analyst', 'Data Architect',
       'Data Science Consultant', 'Principal Data Analyst',
       'Head of Data Science', 'Lead Data Engineer',
       'Data Science Manager', 'Applied Machine Learning Scientist',
       'Lead Data Analyst', 'Cloud Data Engineer',
       'Lead Machine Learning Engineer',
       'Machine Learning Infrastructure Engineer', 'Big Data Architect',
       'Product Data Analyst', 'Business Data Analyst',
       'Director of Data Engineering', 'Data Analytics Lead',
       'Financial Data Analyst', 'Finance Data Analyst',
       'Head of Machine Learning', 'Staff Data Scientist',
       'Data Analytics Engineer', 'Computer Vision Software Engineer'],
      dtype=object)

In [15]:
salaries.employee_residence.unique()

array(['US', 'RO', 'FR', 'GR', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'PT', 'IE', 'AE', 'IT', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH',
       'CL', 'JE', 'TR', 'NZ', 'UA', 'AU', 'NG', 'BG', 'HK', 'EE', 'CZ',
       'RU', 'PR', 'AT', 'BR', 'DZ', 'IR', 'NL', 'RS', 'HU', 'PL', 'HN',
       'MY', 'BO', 'MT', 'LU', 'SG'], dtype=object)

array(['US', 'RO', 'FR', 'GR', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'PT', 'IE', 'AE', 'IT', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH',
       'CL', 'JE', 'TR', 'NZ', 'UA', 'AU', 'NG', 'BG', 'HK', 'EE', 'CZ',
       'RU', 'PR', 'AT', 'BR', 'DZ', 'IR', 'NL', 'RS', 'HU', 'PL', 'HN',
       'MY', 'BO', 'MT', 'LU', 'SG'], dtype=object)

In [16]:
salaries.remote_ratio.unique()

array([100,   0,  50])

array([100,   0,  50])

In [17]:
salaries.company_location.unique()

array(['US', 'FR', 'GR', 'LU', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'AS', 'IE', 'AE', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH', 'CL',
       'CN', 'DK', 'TR', 'NZ', 'PL', 'UA', 'AU', 'NG', 'EE', 'CZ', 'AT',
       'BR', 'DZ', 'IR', 'NL', 'HU', 'PT', 'HN', 'MT', 'RO', 'SG'],
      dtype=object)

array(['US', 'FR', 'GR', 'LU', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'AS', 'IE', 'AE', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH', 'CL',
       'CN', 'DK', 'TR', 'NZ', 'PL', 'UA', 'AU', 'NG', 'EE', 'CZ', 'AT',
       'BR', 'DZ', 'IR', 'NL', 'HU', 'PT', 'HN', 'MT', 'RO', 'SG'],
      dtype=object)

In [18]:
salaries.company_size.unique()

array(['M', 'L', 'S'], dtype=object)

array(['M', 'L', 'S'], dtype=object)

In [19]:
experience_level={'EN':0, 'MI':1, 'SE':2, 'EX':3}


employment_type={'FT':3, 'CT':1, 'FL':2, 'PT':0}


company_size={'M':1, 'L':2, 'S':0}

In [20]:
def label(s, dic):
    return dic[s]

In [21]:
salaries.experience_level=salaries.experience_level.apply(lambda x: label(x, experience_level))
testeo.experience_level=testeo.experience_level.apply(lambda x: label(x, experience_level))

salaries.employment_type=salaries.employment_type.apply(lambda x: label(x, employment_type))
testeo.employment_type=testeo.employment_type.apply(lambda x: label(x, employment_type))

salaries.company_size=salaries.company_size.apply(lambda x: label(x, company_size))
testeo.company_size=testeo.company_size.apply(lambda x: label(x, company_size))

In [22]:
def title(x):
    
        
    if 'Machine' in x or 'ML' in x or 'Computer' in x:
        
        return 'Machine Learning'
    
    if 'Engineer' in x or 'Engineering' in x:
        
        return 'Data Engineer'
    
    if 'Analyst' in x or 'Analytics' in x:
        
        return 'Data Analyst'
    
    else:
        
        return 'Data Scientist'

In [23]:
salaries.job_title=salaries.job_title.apply(title)

In [24]:
salaries.job_title.unique()

array(['Data Engineer', 'Data Analyst', 'Machine Learning',
       'Data Scientist'], dtype=object)

array(['Data Engineer', 'Data Analyst', 'Machine Learning',
       'Data Scientist'], dtype=object)

In [25]:
salaries=salaries.drop(['employee_residence'], axis = 1)

In [26]:
testeo=testeo.drop(['employee_residence'], axis = 1)

In [27]:
salaries.job_title.value_counts()

Data Scientist      195
Data Engineer       140
Data Analyst        105
Machine Learning     60
Name: job_title, dtype: int64

Data Scientist      195
Data Engineer       140
Data Analyst        105
Machine Learning     60
Name: job_title, dtype: int64

In [28]:
testeo.job_title=testeo.job_title.apply(title)

In [29]:
testeo.job_title.value_counts()

Data Scientist      37
Data Engineer       30
Data Analyst        22
Machine Learning    18
Name: job_title, dtype: int64

Data Scientist      37
Data Engineer       30
Data Analyst        22
Machine Learning    18
Name: job_title, dtype: int64

In [30]:
def paises(x):
    
    if 'US'==x:
        return x
    if 'GB'==x:
        return x
    if 'CA'==x:
        return x
    if 'DE'==x:
        return x
    if 'IN'==x:
        return x
    if 'FR'==x:
        return x
    if 'ES'==x:
        return x
    if 'GR'==x:
        return x
    else:
        return 'Other'

In [31]:
salaries.company_location=salaries.company_location.apply(paises)

In [32]:
testeo.company_location=testeo.company_location.apply(paises)

In [33]:
salaries=pd.get_dummies(salaries, columns=['job_title'], drop_first=True)
testeo=pd.get_dummies(testeo, columns=['job_title'], drop_first=True)

In [34]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

salaries.company_location=LabelEncoder().fit_transform(salaries.company_location)
testeo.company_location=LabelEncoder().fit_transform(testeo.company_location)

In [35]:
testeo.shape

(107, 9)

(107, 9)

In [36]:
X=salaries

In [37]:
from sklearn.model_selection import train_test_split as tts


X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 9), (100, 9), (400,), (100,))

((400, 9), (100, 9), (400,), (100,))

## Modelos lineales:

In [38]:
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso       
from sklearn.linear_model import Ridge        
from sklearn.linear_model import ElasticNet

In [39]:
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()

In [40]:
linreg.fit(X_train, y_train)

lasso.fit(X_train, y_train)

ridge.fit(X_train, y_train)

elastic.fit(X_train, y_train)

ElasticNet()

ElasticNet()

In [41]:
y_pred_linear=linreg.predict(testeo)
y_pred_lasso=lasso.predict(testeo)
y_pred_ridge=ridge.predict(testeo)
y_pred_elastic=elastic.predict(testeo)

In [42]:
y_pred_linear1=linreg.predict(X_test)
y_pred_lasso1=lasso.predict(X_test)
y_pred_ridge1=ridge.predict(X_test)
y_pred_elastic1=elastic.predict(X_test)

In [43]:
mse(y_test, y_pred_linear1,squared=False), r2(y_test, y_pred_linear1)

(44215.78463358013, 0.3859169255259851)

(44215.78463358013, 0.3859169255259851)

In [44]:
mse(y_test, y_pred_lasso1,squared=False), r2(y_test, y_pred_lasso1)

(44215.83058890819, 0.3859156490404928)

(44215.83058890819, 0.3859156490404928)

In [45]:
mse(y_test, y_pred_ridge1,squared=False), r2(y_test, y_pred_ridge1)

(44241.00985605787, 0.38521605361094846)

(44241.00985605787, 0.38521605361094846)

In [46]:
mse(y_test, y_pred_elastic1,squared=False), r2(y_test, y_pred_elastic1)

(46773.88071711613, 0.31280615256066335)

(46773.88071711613, 0.31280615256066335)

In [47]:
linreg.fit(X, y)

lasso.fit(X, y)

ridge.fit(X, y)

elastic.fit(X, y)

ElasticNet()

ElasticNet()

In [48]:
y_pred_linear2=linreg.predict(X)
y_pred_lasso2=lasso.predict(X)
y_pred_ridge2=ridge.predict(X)
y_pred_elastic2=elastic.predict(X)

In [49]:
mse(y, y_pred_linear2,squared=False), r2(y, y_pred_linear2)

(56589.86474741427, 0.33784951024636056)

(56589.86474741427, 0.33784951024636056)

In [50]:
mse(y, y_pred_linear2,squared=False), r2(y, y_pred_linear2)

(56589.86474741427, 0.33784951024636056)

(56589.86474741427, 0.33784951024636056)

In [51]:
mse(y, y_pred_linear2,squared=False), r2(y, y_pred_linear2)

(56589.86474741427, 0.33784951024636056)

(56589.86474741427, 0.33784951024636056)

In [52]:
mse(y, y_pred_linear2,squared=False), r2(y, y_pred_linear2)

(56589.86474741427, 0.33784951024636056)

(56589.86474741427, 0.33784951024636056)

## Modelos no lineales:

In [53]:
svr=SVR()
rfr=RFR()
etr=ETR()
gbr=GBR()
xgbr=XGBR()
ctr=CTR()
lgbmr=LGBMR()

In [54]:
svr.fit(X_train, y_train)
rfr.fit(X_train, y_train)
etr.fit(X_train, y_train)
gbr.fit(X_train, y_train)
xgbr.fit(X_train, y_train)
ctr.fit(X_train, y_train, verbose=0)
lgbmr.fit(X_train, y_train)

LGBMRegressor()

LGBMRegressor()

In [55]:
y_pred_svr=svr.predict(testeo)
y_pred_rfr=rfr.predict(testeo)
y_pred_etr=etr.predict(testeo)
y_pred_gbr=gbr.predict(testeo)
y_pred_xgbr=xgbr.predict(testeo)
y_pred_ctr=ctr.predict(testeo)
y_pred_lgbmr=lgbmr.predict(testeo)

In [56]:
y_pred_svr1=svr.predict(X_test)
y_pred_rfr1=rfr.predict(X_test)
y_pred_etr1=etr.predict(X_test)
y_pred_gbr1=gbr.predict(X_test)
y_pred_xgbr1=xgbr.predict(X_test)
y_pred_ctr1=ctr.predict(X_test)
y_pred_lgbmr1=lgbmr.predict(X_test)

In [57]:
mse(y_test, y_pred_svr1,squared=False), r2(y_test, y_pred_svr1)

(56432.65399505574, -0.0003072251817013427)

(56432.65399505574, -0.0003072251817013427)

In [58]:
mse(y_test, y_pred_rfr1,squared=False), r2(y_test, y_pred_rfr1)

(41617.85160277124, 0.4559588254321958)

(41617.85160277124, 0.4559588254321958)

In [59]:
mse(y_test, y_pred_etr1,squared=False), r2(y_test, y_pred_etr1)

(48489.628622750315, 0.26146654926612245)

(48489.628622750315, 0.26146654926612245)

In [60]:
mse(y_test, y_pred_gbr1,squared=False), r2(y_test, y_pred_gbr1)

(41023.28098132716, 0.4713926003305132)

(41023.28098132716, 0.4713926003305132)

In [61]:
mse(y_test, y_pred_xgbr1,squared=False), r2(y_test, y_pred_xgbr1)

(52071.81661881476, 0.14831712838857358)

(52071.81661881476, 0.14831712838857358)

In [62]:
mse(y_test, y_pred_ctr1,squared=False), r2(y_test, y_pred_ctr1)

(43905.45819727793, 0.3945065038226315)

(43905.45819727793, 0.3945065038226315)

In [64]:
mse(y_test, y_pred_lgbmr1,squared=False), r2(y_test, y_pred_lgbmr1)

(39934.69242287572, 0.4990744973337826)

(39934.69242287572, 0.4990744973337826)

In [65]:
svr.fit(X, y)
rfr.fit(X, y)
etr.fit(X, y)
gbr.fit(X, y)
xgbr.fit(X, y)
ctr.fit(X, y, verbose=0)
lgbmr.fit(X, y)

LGBMRegressor()

LGBMRegressor()

In [66]:
y_pred_svra=svr.predict(testeo)
y_pred_rfra=rfr.predict(testeo)
y_pred_etra=etr.predict(testeo)
y_pred_gbra=gbr.predict(testeo)
y_pred_xgbra=xgbr.predict(testeo)
y_pred_ctra=ctr.predict(testeo)
y_pred_lgbmra=lgbmr.predict(testeo)

In [67]:
y_pred_svr1b=svr.predict(X)
y_pred_rfr1b=rfr.predict(X)
y_pred_etr1b=etr.predict(X)
y_pred_gbr1b=gbr.predict(X)
y_pred_xgbr1b=xgbr.predict(X)
y_pred_ctr1b=ctr.predict(X)
y_pred_lgbmr1b=lgbmr.predict(X)

In [68]:
mse(y, y_pred_svr1b,squared=False), r2(y, y_pred_svr1b)

(70247.51191088151, -0.020331479815341558)

(70247.51191088151, -0.020331479815341558)

In [69]:
mse(y, y_pred_rfr1b,squared=False), r2(y, y_pred_rfr1b)

(32704.190274496857, 0.7788503815334575)

(32704.190274496857, 0.7788503815334575)

In [70]:
mse(y, y_pred_etr1b,squared=False), r2(y, y_pred_etr1b)

(29340.03413029139, 0.8220079429888056)

(29340.03413029139, 0.8220079429888056)

In [71]:
mse(y, y_pred_gbr1b,squared=False), r2(y, y_pred_gbr1b)

(42765.926987801286, 0.6218403624478525)

(42765.926987801286, 0.6218403624478525)

In [72]:
mse(y, y_pred_xgbr1b,squared=False), r2(y, y_pred_xgbr1b)

(29470.876706068375, 0.8204168836266386)

(29470.876706068375, 0.8204168836266386)

In [73]:
mse(y, y_pred_ctr1b,squared=False), r2(y, y_pred_ctr1b)

(31622.814836796366, 0.7932333731008685)

(31622.814836796366, 0.7932333731008685)

In [74]:
mse(y, y_pred_lgbmr1b,squared=False), r2(y, y_pred_lgbmr1b)

(42449.15288689219, 0.6274217928680224)

(42449.15288689219, 0.6274217928680224)